<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1>Test Homepage</h1>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            <p><small>KU coding bootcamp, 2023</small></p>
        </footer>
    </body>
</html>