{{!-- Temporary example homepage just to get something on the page --}}
{{!-- {{#each userMadLibs as |madlib|}}
<div class="user-radlib">
    <h3>{{madlib.madlib_form.title}}</h3>
    <small>by {{madlib.user.name}}</small>
    <p>{{madlib.completed_text}}</p>
</div>
{{/each}} --}}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Radlibs</h1>
    <p class="lead">Radlibs is our own personal version of ad-libs. A game where you insert words into poems or stories to bring to life a new creation of your own.</p>
    <p><strong>Getting Started?</strong></p>
    <p> To get started with Radlibs, simply click "play now" on a game of your choice.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card text-center border-primary">
      <div class="card-body">
        <h5 class="card-title">Mary Had a Little Lamb</h5>
        <p class="card-text">Play game by yourself or with friends!</p>
        <a href="#" class="btn btn-primary">Play Now</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center border-primary">
      <div class="card-body">
        <h5 class="card-title">Row Row Row Your Boat</h5>
        <p class="card-text">Play game by yourself or with friends!</p>
        <a href="#" class="btn btn-primary">Play Now</a>
      </div>
    </div>
  </div>
</div>


