<body>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to RadLibs</h1>
      <p class="lead">A game where you insert words into poems or stories to bring to life a new creation of your own.</p>
      <p>
        <strong>Getting Started?</strong><br>To get started with RadLibs, simply click "play now" on a game of your choice
      </p>
    </div>
  </div>

{{!-- Card for RadLib instance Mary Had A Little Lamb --}}
  <div class="row">
    <div class="card border-primary" style="width: 18rem;">
      <img src="../img/lamb.jpeg" class="card-img-top" alt="a side headshot of a white lamb outside">
      <div class="card-body">
        <h5 class="card-title">Mary Had A Little Lamb</h5>
        <p class="card-text">Create a RadLib using the children's song "Mary Had A Little Lamb." What silly combinations can be produced?</p>
        <a href="#" class="btn btn-primary">Play Now</a>
      </div>
    </div>

{{!-- Card for RadLib instance Row Row Row Your Boat --}}
    <div class="card border-primary" style="width: 18rem;">
      <img src="../img/row-row.jpeg" class="card-img-top" alt="a canoe floating on water with an adult and two children rowing">
      <div class="card-body">
        <h5 class="card-title">Row, Row, Row Your Boat</h5>
        <p class="card-text">Create a RadLib using the children's song "Row, Row, Row Your Boat." What silly combinations can be produced?</p>
        <a href="#" class="btn btn-primary">Play Now</a>
      </div>
    </div>
  </div>

</body>





