{{!-- completed madlib here --}}
<div class="libs">
{{#if isCompletedTextEmpty }}
<div class="text-center">
<div class="alert alert-primary" role="alert" id="save-success">
</div>
</div>
{{/if}}

<div id="radlib-{{ radlibId }}" class="radlib-completed">
{{> (whichPartial) }}
</div>

{{#if isCompletedTextEmpty }}
<div class="text-center btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
    <button class="btn btn-primary" type="button" id="save-completed-text">Save Text</button>
    </div>
    <script src="/js/saveInstanceText.js"></script>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
    <a href="/radlibs/form/all"><button class="btn btn-primary" type="button"> Play Again</button></a>
    </div>
</div>
{{/if}}
</div>